<h3>Products</h3>

<div class="row">
  <div class="section">
  <% @products.each do |product| %>
    <div class="col s4" id="product-<%= product.id %>">
      <h4>
        <%= product.name %>
      </h4>
      <% if current_user && current_user.admin %>
        <button class="waves-effect waves-light btn red"><%= link_to "Delete", product_path(product), :data => {:confirm => "You sure?", :method => "delete"}, remote: true %></button>
        <button class="waves-effect waves-light btn yellow"><%= link_to "Edit", edit_product_path(product) %></button>
      <% end %>
      <p><%= link_to 'View Details', product_path(product), id: "show_link_#{product.id}", remote: true %></p>

      <%= form_for @order_item, remote: true do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, id: "quantity", min: 1 %>
        <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
      <% end %>
    </div>
  <% end %>
</div>
</div>
